




<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>

	<section>

		<div class="container">
			<div class="container">
				<form novalidate action="#" th:object="${contact}"
					enctype="multipart/form-data" method="POST"
					th:action="@{/user/process-contact}"
					style="width: 40%; margin: auto;">

					<h1 class="text-center mt-5-custom">Add New Contact</h1>

					<div th:class="${'alert '+ alertClass}" role="alert"
						th:text="${message}"></div>

					<!-- 2 column grid layout with text inputs for the first and last names -->
					<div class="row mb-4">
						<div class="col">
							<div class="form-outline">
								<input type="text" name="name" th:value="${contact.name}"
									id="form3Example1" class="form-control"
									th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''} " />
								<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
									class="invalid-feedback"></div>
								<label class="form-label" for="form3Example1">First name</label>
							</div>
						</div>
						<div class="col">
							<div class="form-outline">
								<input type="text" name="lname" id="form3Example2"
									class="form-control" /> <label class="form-label"
									for="form3Example2">Last name</label>
							</div>
						</div>
					</div>

					<!-- Email input -->
					<div class="form-outline mb-4">
						<input type="email" name="email" th:value="${contact.email}"
							id="form3Example3" class="form-control"
							th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''} " />
						<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
							class="invalid-feedback"></div>
						<label class="form-label" for="form3Example3">Email
							address</label>
					</div>

					<!-- Work input -->
					<div class="form-outline mb-4">
						<input type="text" name="work" id="form3Example4"
							class="form-control" /> <label class="form-label"
							for="form3Example4">Work</label>
					</div>

					<!-- Phone input -->
					<div class="form-outline">
						<input type="tel" name="phone" id="typePhone" class="form-control"
							th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''} " />
						<div th:each="e : ${#fields.errors('phone')}" th:text="${e}"
							class="invalid-feedback"></div>
						<label class="form-label" for="typePhone">Phone number</label>
					</div>
					<!-- About input -->
					<div class="form-outline" style="margin-top: 3rem !important;">
						<textarea class="form-control" id="textAreaExample" rows="4"></textarea>
						<label class="form-label" for="textAreaExample">About</label>
					</div>


					<label class="form-label" for="customFile">Contact image</label> <input
						type="file" name="profileImg" class="form-control" id="customFile" />


					<!-- Submit button -->
					<div class="mt-3">
						<button type="submit" class="btn btn-primary btn-block mb-4">ADD
							CONTACT</button>
					</div>


				</form>
			</div>
		</div>
	</section>

</body>
</html>






